@using NixMangaProject.EF.Models;
@using NixMangaProject.Models;
@model ProductImageViewModel;
@{
    ViewData["Title"] = "Katalog";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Каталог</title>
</head>
<body>
    <div class="Main__container">
       <form asp-action="Prosmotr" method="get">
            <div class="container" id="SearchContainer">
                    <p class="searchText">Введите название товара: </p>
                    <div class="SearchOgran form-group"><input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" /></div> 
                    <button type="submit" class="btn btn-info btn-lg">Поиск</button>
                    <a asp-action="Prosmotr" class="btn btn-link btn-lg">Вернуться к списку</a>
            </div>
       </form>
         <div class = "container">
              <div class="row" id="searchFiltercontainer">
               <div class="row">
                     <div class="col">
                         <a class="search__nav-link" asp-controller="Katalog" asp-action="Prosmotr" asp-route-sortOrder = "aviable" >В наличии</a>
                        </div>
                       <div class="col">
                        <a class="search__nav-link" asp-controller="Katalog" asp-action="Prosmotr"  asp-route-sortOrder = "downTohight">От дешевых</a>
                         </div>
                      <div class="col">
                        <a class="search__nav-link" asp-controller="Katalog" asp-action="Prosmotr"  asp-route-sortOrder = "HightToDown">От дорогих</a>
                      </div>
                     <div class="col">
                        <a class="search__nav-link" asp-controller="Katalog" asp-action="Prosmotr">Убрать фильтры</a>
                     </div>
                </div>
              </div>
        </div>
      
        @foreach(var item in Model.products){
            string s="";
            @foreach(var it in Model.images)
            {
                if (item.ProductId == it.ProductId){ s = it.ImgSource; }
            }
            <div class="container"  id="heading">
                    <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"> <div class="body-catalog__item1-icon" ><img src="@s" alt="" id="heading1"></div></div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                        <label for="exampleInputEmail1" class="form-label body-catalog__item1-title"><div class="textcenter">@item.ProductName</div></label>
                      <div class="row"> @*@s*@
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label"><div class="textcenter"><div class="descriptionInform">@item.ProductDescription</div></div></label>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="row"><button type="submit" class="btn btn-success" id="textbuttonProsmort">Купить</button></div>
                            <div class="row"><button type="submit" class="btn btn-warning" id="textbuttonProsmort">Подробнее</button></div>  
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        }
        <div class = "container">
            @if(pager.TotalPages > 0)
            {
                <ul class="pagination justify-content-end">

                    @if(pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                             <a class="page-link" asp-controller="Katalog" asp-action="Prosmotr"  asp-route-searchString ="@ViewData["CurrentFilter"]" asp-route-pg= "1">Первая</a>
                        </li>
                        <li>
                             <a class="page-link" asp-controller="Katalog" asp-action="Prosmotr"  asp-route-searchString ="@ViewData["CurrentFilter"]" asp-route-pg= "@(pager.CurrentPage - 1)">Предыдущая</a>
                        </li>
                    }

                    @for(var pge=pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class = "page-item @(pge == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="Katalog" asp-action="Prosmotr" asp-route-sortOrder ="@ViewData["Filter"]" asp-route-searchString ="@ViewData["CurrentFilter"]" asp-route-pg= "@pge">@pge</a>
                        </li>
                    }

                    @if( pager.CurrentPage < pager.TotalPages){

                        <li class="page-item">
                             <a class="page-link" asp-controller="Katalog" asp-action="Prosmotr"  asp-route-searchString ="@ViewData["CurrentFilter"]" asp-route-pg= "@(pager.CurrentPage + 1)">Следующая</a>
                        </li>
                        <li>
                             <a class="page-link" asp-controller="Katalog" asp-action="Prosmotr"  asp-route-searchString ="@ViewData["CurrentFilter"]" asp-route-pg= "@(pager.TotalPages)">Последняя</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</body>
</html>